.nav-button {
    text-decoration: none;
    transition: transform 0.3s ease;
    color: #292929;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    font-weight: 800;
    

  }
  
.nav-button:hover {
    transform: scale(1.1);
  }
  
.nav-button-active {
    color: #316B9D;
  }
  
  @media screen and (max-width: 960px) {
   
    .nav-button {
      color: #ffffff;
    }

  .nav-button-active {
      color: #316B9D;
    }
}