.reviews-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 80px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(0deg, #151515 0%, #bc48ff42 50%, #151515 100%);
    backdrop-filter: blur(30px);
    padding: 100px 0 0 50px;
}

.reviews-slider{
    position: relative;
    left:60px;
    height: 100%;
    width: 70%;
}

.revies-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

 .reviews-swiper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 100%;
    border-radius: 30px;
    color: #fff;
  }

  .swiper-slide-active{
    width: 100%;
  }
 
  .reviews-swiper  .swiper-slide{
    width: 100%;
    max-width: 550px;
    min-width: 400px;

  }
   
  .reviews-swiper  .swiper-slide>*{
    width: 100%;
    max-width: 550px;
    min-width: 400px;
  }

  

  @media (max-width:960px) {
 
    .reviews-wrapper{
        flex-direction: column;
  
    }
    
  .reviews-swiper .swiper-slide-active{
    width: 100%;
  }
  }
  
  @media (max-width: 700px) {
    .reviews-wrapper{
        flex-direction: column;
        width: 100%;
        
        padding: 0 20px;
    }

    .revies-heading{
        justify-content: center;
        font-size: 30px;
        width: 100%;
    }

    .reviews-slider{
        position: relative;
        left:0px;
        height: 100%;
        width: 100%;
    }

    .reviews-swiper .swiper-slide {
        width: 100%;
        max-width: 550px;
        min-width: 0; 
    }
    .reviews-swiper .swiper-slide-active{
        width: 100%;
      }
    .reviews-swiper .swiper-slide:nth-child(2n) {
        width: 100%;
      }
      
      .reviews-swiper .swiper-slide:nth-child(3n) {
        width: 100%;
      }
  }