.reviews-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 100px 0 0 50px;
}

.reviews-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Adjust the height as needed */
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, #151515 100%);
  pointer-events: none; /* Ensures clicks pass through the overlay */
}

.reviews-slider{
    position: relative;
    left:60px;
    height: 100%;
    width: 70%;
    z-index: 5;
}

.reviews-swiper{
  padding: 15px;
}

.revies-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

 .reviews-swiper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 100%;
    border-radius: 30px;
    color: #fff;
    box-shadow:
    -10px -10px 10px #dc53e6a6,        
    10px 10px 10px #316B9D;    
    animation: moveShadow 10s linear infinite;   

  }

  .swiper-slide-active{
    width: 100%;
  }
 
  .reviews-swiper  .swiper-slide{
    width: 100%;
    max-width: 550px;
    min-width: 400px;

  }
   
  .reviews-swiper  .swiper-slide>*{
    width: 100%;
    max-width: 550px;
    min-width: 400px;
  }

  

  @media (max-width:960px) {
 
    .reviews-wrapper{
        flex-direction: column;
  
    }
    
  .reviews-swiper .swiper-slide-active{
    width: 100%;
  }
  }
  
  @media (max-width: 700px) {
    .reviews-wrapper{
        flex-direction: column;
        width: 100%;
        padding:20px;
    }

    .revies-heading{
        justify-content: center;
        font-size: 25px;
        width: 100%;
    }

    .reviews-slider{
        position: relative;
        left:0px;
        height: 100%;
        width: 80%;
      
    }

    .reviews-swiper .swiper-slide {
        width: 100%;

        min-width: 0; 
    }
    .reviews-swiper .swiper-slide-active{
        width: 100%;
      }
    .reviews-swiper .swiper-slide:nth-child(2n) {
        width: 100%;
      }
      
      .reviews-swiper .swiper-slide:nth-child(3n) {
        width: 100%;
      }

      .reviews-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%; /* Adjust the height as needed */
        background: linear-gradient(to top, rgba(0,0,0,0) 0%, #151515 100%);
        pointer-events: none; /* Ensures clicks pass through the overlay */
      }
  }