@keyframes exitUpwards {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh); /* Move out of the viewport */
    }
  }
  
  .exit-animation {
    animation: exitUpwards 1s ease forwards;
    animation-delay: 10s; /* Adjust based on the duration of your SVG animations */
  }

.loader{
    width: 100%;
    height: 100vh;
    z-index: 55;
    position: fixed;
    top: 0;
    left: 0;
    background: #18181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg{
    width: 100%;
}

.loading-text{
    width: 100%;
    font-weight: bold;
    color: #fff;
    transform: translate(.4rem);
    margin-top: 1rem;
}