#contacts{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendly-inline-widget, .simplebar-content-wrapper {
    overflow: hidden !important;
    width: 50%;
    min-width:320px;
    height:750px;
  }