.nav-bar{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 85%;
    display: flex;
    flex-direction: column;
    padding:10px 50px 10px 50px;
    border-radius: 0px 0px 50px 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    transition: all 0.5s ease-in-out;
    z-index: 56;
}

.false{
  display: none;
  }

.nav-divider{
  width:100%;
  border: 1px solid #1515152d;
  margin: 10px 0;
}

.nav-top-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}


.nav-bottom-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    list-style: none;
    text-align: center;
    z-index: 56;
}
  
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu-icon {
    display: none;
}

.nav-contact{
       
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 50px;
  background-color: #316B9D;
  border-radius: 50px;
  text-decoration: none;
  max-width: 250px;
  transition: transform 0.3s ease;
  color: #FFFFFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 600;
  border: 0;
}

.nav-contact:hover {
  transform: scale(1.1);
  background-color: #292929;
  color: #FFFFFF;
}

.socialists-active{
  display: none;
}

@media screen and (max-width: 960px) {
    .nav-bar{
        margin: 0;
        position:fixed;
        top:0;
        width: 100%;
        padding: 10px;
        height: 100px;
        border-radius: 0 0 50px 50px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    .nav-bar.active{
        overflow:visible;
        height: 100vh;
        
    }

    .nav-top-side, .nav-divider{
      display: none;
    }
   
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-200%, 80%);
        font-size: 2rem;
        cursor: pointer;

      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100px;
        opacity: 1;
        visibility: hidden;
      }
    
      .nav-menu.active {
        visibility: unset;
        height: 70vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 1;
       
    }
    
    
      .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: #FFF;
      }
    
      .nav-links:hover {
        background-color: #1888ff;
        border-radius: 0;
      }

      .nav-bar.active{
        border-radius: 0;
        transition: all 0.5s ease-in-out;
      }

      .socialists-active{
        display: flex;
        gap: 30px;
        
      }

      .languish span{
        font-size: 20px;
      }

      
}