.hero-wraper{
    position: relative;
    background-color: #292929;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10rem 0;
    
}

.content{
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 60px;
}

.text h1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    user-select: none;
}

.text h2{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: capitalize;
    user-select: none;
}

span{
    color: #316B9D;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    user-select: none;
}

.hero-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    height: 50px;
    background-color: #316B9D;
    border-radius: 50px;
    text-decoration: none;
    transition: transform 0.3s ease;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */

}

.hero-button-wrapper:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: #316B9D;
}


video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

.hero-wraper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #292929 100%);
    pointer-events: none; /* Ensures clicks pass through the overlay */
}
@media screen and (max-width: 960px) {
    .text{
        gap: 30px;
        padding: 0 70px;
    }

    .text h1, span{
        font-size: 40px;
    }
    
    .text h2{
        font-size: 18px;
    }
   
}

@media screen and (max-width: 600px) {
    .hero-wraper{
        margin: 0 0 5rem 0;
        
    }
    .text{
        gap: 30px;
        padding: 0 30px;
    }
    .text h1, span{
        font-size: 30px;
    }
    
    .text h2{
        font-size: 16px;
    }
  }