.bento-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    padding:30px;
    gap: 30px;
    background-color: #151515;
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    
}
.bento-title{
  font-size: 20px;
  font-weight: bold;
}

/* .bento-box col-span-2 {
    grid-column: span 2;
} */
.grid-item {
    background: #292929;
    border-radius: 30px;
    padding: 30px;
    max-height: 610px;
    box-shadow:
    -10px -10px 10px #dc53e6a6,        
    10px 10px 10px #316B9D;    
    animation: moveShadow 10s linear infinite;      
 
}

@keyframes moveShadow {
  0% {
      box-shadow: -10px -10px 10px #dc53e6a6, 10px 10px 10px #316B9D;
  }
  25% {
      box-shadow: 10px -10px 10px #dc53e6a6, -10px 10px 10px #316B9D;
  }
  50% {
      box-shadow: -10px -10px 10px #dc53e6a6, 10px 10px 10px #316B9D;
  }
  75% {
      box-shadow: -10px 10px 10px #dc53e6a6, 10px -10px 10px #316B9D;
  }
  100% {
      box-shadow: -10px -10px 10px #dc53e6a6, 10px 10px 10px #316B9D;
  }
}
  
.bento-box>*:hover{
    transform: scale(1.05);
}
@media (min-width: 961px) {
    .bento-box {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
    }
  
    .grid-item-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      max-height: 300px;
    }

  
  
    .grid-item-2 {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
  
    .grid-item-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 300px;
    }
  
    .grid-item-4 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 300px;
    }
  
    .grid-item-5 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }

@media (max-width:960px) {
  .bento-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
  .grid-item {
    height: 300px;
  }
    .bento-box {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 100px;
    }
  
    .grid-item-1 {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }
  
    .grid-item-2 {
      grid-column: 1 / 5;
      grid-row: 3 / 3;
    }
  
    .grid-item-3 {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  
    .grid-item-4 {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }
  
    .grid-item-5 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }



  
  /* Small screens */
  @media (max-width: 700px) {
    .bento-title{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
    .bento-box{
      padding: 0;
    }
    .bento-wrapper{
      height: 100%;
      width: 100%;
      padding: 0;
  }
    .grid-item {
      max-width: 300px;
      max-height: 100%;
    }
    .bento-box {
      grid-template-columns: 1fr;
      gap: 20px;

    }
  
    .grid-item {
      grid-column: 1;
    }

    .grid-item-1 {
        grid-row: 1 / 2;
      }
    
      .grid-item-2 {
        grid-row: 2 / 3;
      }
    
      .grid-item-3 {
        grid-row: 3 / 4;
      }
    
      .grid-item-4 {
        grid-row: 4 / 5;
      }
    
      .grid-item-5 {
        grid-row: 5 / 6;
      }
  }